<mat-card class="profile-card blue-background margin-last">
  <div class="columns-container">
    <div class="column">
      <mat-card-header>
        <mat-card-title>User Profile</mat-card-title>
        <div mat-card-avatar class="example-header-image"></div>
      </mat-card-header>
    </div>
    <div class="column">
      <mat-card-content>
        <h1>Name: John Doe</h1>
        <h1>Email: johnexample.com</h1>
        <h1>Password: *********</h1>
        <h1>Account Type: Premium</h1>
      </mat-card-content>
    </div>
  </div>
</mat-card>
