<div class="subscription-container">
  <!-- Free Plan -->
  <mat-card class="subscription-card blue-background margin-first">
    <div>
      <div class="line">
        <h1 class="subscription-title">Basic Plan</h1>
        <h2 class="subscription-price">Free</h2><p class="plan-time">/forever</p>
      </div>
      <div class="plan-info">
        <p>✓ Access to essential features for managing shipments.</p>
        <p>✓ Track up to 10 shipments per month.</p>
        <p>✓ Email notifications for shipment status updates.</p>
      </div>
      <button mat-raised-button class="start-button-blue">Start</button>
    </div>
  </mat-card>

  <!-- Premium Monthly Plan -->
  <mat-card class="subscription-card margin-middle">
    <div>
      <div class="line2">
        <h1 class="subscription-title">Premium Monthly</h1>
        <h2 class="subscription-price2">$9.99</h2><p class="plan-time">/month</p>
      </div>
      <div class="plan-info">
        <p>✓ Unlimited shipment tracking.</p>
        <p>✓ Advanced analytics for shipment insights.</p>
        <p>✓ SMS notifications for important delivery events.</p>
      </div>
      <button mat-raised-button>Start</button>
    </div>
  </mat-card>

  <!-- Premium Annual Plan -->
  <mat-card class="subscription-card purple-background margin-last">
    <div>
      <div class="line">
        <h1 class="subscription-title">Premium Annual</h1>
        <h2 class="subscription-price3">$99.99</h2><p class="plan-time">/per year</p>
      </div>
      <div class="plan-info">
        <p>✓ Dedicated customer support.</p>
        <p>✓ Priority access to new features.</p>
        <p>✓ Customizable dashboard with advanced reporting.</p>
      </div>
      <button mat-raised-button class="start-button-purple">Start</button>
    </div>
  </mat-card>
</div>
