<mat-card>
  <mat-card-header class="title-container">
    <mat-card-title>
      <h1 class="title-page">Track your shipments</h1>
    </mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <div class="image-button-container">

      <div class="image-button-wrapper">
        <img src="/assets/img.png" alt="shipment tracking" class="small-image">
        <button mat-button (click)="navigateToListCoaches()">Track Shipments</button>
      </div>

      <div class="image-button-wrapper">
        <img src="/assets/img_1.png" alt="delivery status" class="small-image">
        <button mat-button (click)="navigateToListNutritionists()">Delivery Status</button>
      </div>
    </div>
  </mat-card-content>
</mat-card>
